body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #89609E;
}

.root {
  margin: 0;
  padding: 0;
}

main {
  padding: 2rem 4rem;
  margin: 0 auto;
  color: white;
}

.auth-form-container {
  height: 100vh;
  display: grid;
  place-items: center;
}
.auth-form {
  width: 24rem;
  gap: 1rem;
  display: flex;
  flex-flow: column;
}
.auth-form h1 {
  text-align: center;
  color: white;
}
.auth-form span {
  text-align: center;
  color: white;
}
.auth-form span a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
.auth-form input {
  height: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 4px;
}
.auth-form button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 4rem;
  color: #fff;
  border: solid 1px white;
  background-color: transparent;
}
.auth-form button:hover {
  background-color: white;
  transition: .3s ease-in;
  color: #89609E;
}

.boards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.card {
  height: 4rem;
  width: 16rem;
  border-radius: 4px;
  color: #4b5054;
  cursor: pointer;
  font-weight: bolder;
  padding: 1rem;
  background-color: #dde0e5;
}
.createBoardCard {
  background-color: #745286;
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}

.lists {
  display: flex;
  gap: 2rem;
}
.listContainer {
  min-width: 18rem;
  max-width: 18rem;
  border-radius: 4px;
  padding: 1rem .5rem;
  background-color: #dde0e5;
}
.listContainer h4{
  margin: 0;
  color: #4b5054;
}

.createList {
  background-color: #745286;
  display: grid;
  place-items: center;
  min-width: 18rem;
  max-width: 18rem;
  height: 4rem;
  border-radius: 4px;
}
.createListForm {
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.createListForm > input{
  border: none;
  height: 2rem;
  padding: 1rem;
  border-radius: 4px;
}
.createListForm > button {
  border: solid 1px #745286;
  color: #745286;
  height: 3rem;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: .3 ease-in;
}
.createListForm > button:hover {
  background-color: #745286;
  color: white;
}

.list-cards {
  margin-top: 16px;
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.list-card {
  background: white;
  color: #4b5054;
  padding: .5rem;
  border-radius: 4px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.list-card-content {
  overflow-wrap: break-word;
  width: 90%;
}
.list-card:hover .delete-card {
  display: block;
  cursor: pointer;
}
.delete-card {
  transition: .3s ease-in;
  display: none;
}
.delete-card:hover {
  color: crimson;
}

.create-list-card {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 4px;
  padding: .5rem;
}